ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  .dropdown{ 
    margin: 0 5% 0 5%;
    height: 100%;
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.2s;
    z-index: 2;
  }
  
  .dropdown li{ 
    font-weight: bold; 
    float: left; 
    width: 180px; 
    position: relative;
    background-color: rgb(26, 26, 26);
    transition: transform 0.2s;
  }

  .dropdown li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .dropdown li a { 
    display: block; 
    padding: 20px 8px;
    color: white; 
    position: relative; 
    z-index: 2000; 
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    background-color: transparent;
  }
  
  .dropdown li a:hover{ 
    background: transparent;
    position: relative;
    color: white;
    transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  }
  
  .dropdown ul{ 
   display: none;
   position: absolute; 
    top: 0; 
    left: 0; 
    width: 180px; 
    z-index: 2;
  }
  
  .dropdown ul li { 
    font-weight: normal; 
    border-bottom: 1px solid rgb(26, 26, 26); 
  }

  .dropdown ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .dropdown ul li a{ 
    display: block; 
    color: white !important;
    background: rgb(26, 26, 26) !important;
  } 
  
  .dropdown ul li a:hover{
    display: block; 
    background: rgb(26, 26, 26) !important;
    color: #fff !important;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  } 
  
  .drop > a{
    position: relative;
  }
  
  .drop > a:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 40%;
    border: 5px solid transparent;
    z-index: 2;
  }
  
  .drop > a:hover:after{
    content:"";
    border: 5px solid transparent;
  }
  
  