* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .slider-section {
    background-color: #3b3939;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .container {
    margin: auto;
    padding: 12px;
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  h3 {
    font-size: 2.75rem;
    font-family: Karasha;
    text-align: center;
    margin-top: 2%;
    color: white;
  }

.title{
  font-size: 2rem;
}

  p {
    font-size: 1.5rem;
    color: maroon
  }

  .slides {
    margin: 32px auto;
    align-items: center;
  }

  
  .slides img {
    float: left;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 1%;
  }

  .slider-section .slick-slide {
    padding: 24px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: Shenttpuro Font;
    color: maroon
  }

  .info{
    text-align: left;
    margin: 1%;
    color: black;
  }

  .slick-slide:not(.slick-current) {
    opacity: 0.2;
  }


  .bottom-slider-container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .bottom-slider .slick-slide {
    margin-block: 0.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    width: 300px;
    background-image: url(/Assets/Images/Background/info-background.jpg);
  }

  .bottom-slider {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    background-image: url(/Assets/Images/Background/slider-background.jpg);
    margin: 0 12px;
  }

  .slick-dots li button:before {
    color: #c0eee4;
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  .slick-dots li.slick-active button:before,
  .slick-dots li button:hover::before,
  .slick-dots li button:focus::before {
    color: #f08a5d;
    opacity: 1;
  }

  .slick-next,
  .slick-prev {
    width: fit-content;
    height: auto;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 2.5rem;
    opacity: 0.5;
    color: #f08a5d;
  }

  .slick-next {
    right: -40px;
  }
  .slick-prev {
    left: -40px;
  }