body{
    background-color: gainsboro;
}

.Title{
    text-align: center;
    margin-top: 50px;
}

.Content{
    margin-left: 4%;
    font-size: 150%;
}


.Link{
    color: black;
}

.Divider {
    width: 100%;
    height: 2px;
    background-color: rgb(155, 152, 152);
}

.Code-block {
    font-size: 150%;
    margin-left: 4%;
    color: rgb(194, 2, 2);
    background-color: rgb(196, 196, 196);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 4%;
}


.Pre-text{
    color: black;
}

.Links {
    margin-left: 4%;
    font-size: 150%;
}

.Links a{
    background-color: rgb(196, 196, 196);
    color: rgb(41, 136, 104);
}